<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.hnq.test" />
    <!-- check code start -->
    <bean id="captchaService" class="com.octo.captcha.service.multitype.GenericManageableCaptchaService">
        <description>验证码服务</description>
        <constructor-arg index="0" ref="com.hnq.test.engine.cSRCaptchaEngine"/>
        <constructor-arg index="1" value="300"/><!--超时时间 秒 -->
        <constructor-arg index="2" value="20000"/><!--最大并发数 -->
    </bean>

</beans>